dolgozatok/Karasz Máté doga/03 - Motorcycles/.vs
dolgozatok/Karasz Máté doga/03 - Motorcycles/Solution.Core/bin
dolgozatok/Karasz Máté doga/03 - Motorcycles/Solution.Core/obj
dolgozatok/Karasz Máté doga/03 - Motorcycles/Solution.DataBase/bin
dolgozatok/Karasz Máté doga/03 - Motorcycles/Solution.DataBase/obj
dolgozatok/Karasz Máté doga/03 - Motorcycles/Solution.DesktopApp/bin
dolgozatok/Karasz Máté doga/03 - Motorcycles/Solution.DesktopApp/obj
dolgozatok/Karasz Máté doga/03 - Motorcycles/Solution.PdfGenerator/bin
dolgozatok/Karasz Máté doga/03 - Motorcycles/Solution.Services/bin
dolgozatok/Karasz Máté doga/03 - Motorcycles/Solution.ValidationLibrary/bin
dolgozatok/Karasz Máté doga javítás/03 - Motorcycles/.vs
Karasz Máté doga/03 - Motorcycles/.vs
Karasz Máté doga/03 - Motorcycles/.vs
dolgozatok/Karasz Máté doga javítás/03 - Motorcycles/Solution.ValidationLibrary/obj
dolgozatok/Karasz Máté doga javítás/03 - Motorcycles/Solution.ValidationLibrary/bin
dolgozatok/Karasz Máté doga javítás/03 - Motorcycles/Solution.Services/obj
dolgozatok/Karasz Máté doga javítás/03 - Motorcycles/Solution.Services/bin
dolgozatok/Karasz Máté doga javítás/03 - Motorcycles/Solution.PdfGenerator/obj
dolgozatok/Karasz Máté doga javítás/03 - Motorcycles/Solution.PdfGenerator/bin/Debug/net9.0/.playwright/package/bin
dolgozatok/Karasz Máté doga javítás/03 - Motorcycles/Solution.PdfGenerator/bin
dolgozatok/Karasz Máté doga javítás/03 - Motorcycles/Solution.DesktopApp/obj
dolgozatok/Karasz Máté doga javítás/03 - Motorcycles/Solution.DesktopApp/bin
dolgozatok/Karasz Máté doga javítás/03 - Motorcycles/Solution.DataBase/obj
dolgozatok/Karasz Máté doga javítás/03 - Motorcycles/Solution.DataBase/bin
dolgozatok/Karasz Máté doga/03 - Motorcycles/Solution.PdfGenerator/obj
dolgozatok/Karasz Máté doga/03 - Motorcycles/Solution.Services/obj
dolgozatok/Karasz Máté doga/03 - Motorcycles/Solution.ValidationLibrary/obj
dolgozatok/Karasz Máté doga javítás/03 - Motorcycles/Solution.Core/bin
dolgozatok/Karasz Máté doga javítás/03 - Motorcycles/Solution.Core/obj
